@{
    ViewData["Title"] = "Pagina de Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Más acerca de... <a href="https://learn.microsoft.com/aspnet/core">construir aplicaciones web con ASP.NET Core</a>.</p>
</div>
